h1 {
  color: #ae2727;
}

section img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 2rem;
}

.johnmobil {
  display: none;
}

.tankeboble {
  width: 500px;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* css til  pilen */
#sulten {
  position: absolute;
  top: 30%;
  left: -15%;
  width: 240px;
  max-width: 80%;
}

/* MOBIL */
@media (max-width: 700px) {
  .h1_virk {
    padding-left: 2rem;
    font-size: 165%;
  }

  .johncom {
    display: none;
  }

  .johnmobil {
    display: block;
  }

  .tankeboble {
    width: 370px;
  }

  /* design til linket */
  .mobile a {
    text-decoration: none;
    color: #ae2727;
  }
}
