/* css til overskrifter */
#hej {
  color: #c568a1;
  padding-top: 2rem;
  font-size: xx-large;
  text-align: start;
}

h2 {
  font-family: "sans";
  color: #c568a1;
}

.migselv h2 {
  margin-bottom: 0.5em;
  padding-left: 0.6em;
}

#sem h2 {
  margin-bottom: 1em;
  padding-left: 0.6em;
}

#sem {
  margin-bottom: 1em;
}

section img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  padding: 3rem;
  box-sizing: border-box;
}

/* css til lyserrød linjer */
.lyserød-linje {
  height: 2px;
  background-color: #c568a1;
  border-color: #c568a1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

/* css til grid */

.grid_2-2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-bottom: 5rem;
}

#skills,
#experience,
#education,
#kompetencer {
  padding-bottom: 2rem;
}

#kompetencer li {
  font-family: "inria";
  margin-left: 2em;
  line-height: 1.8rem;
  font-size: larger;
}

#experience {
  padding-right: 12rem;
}

li::marker {
  font-size: 0.7em; /* Gør bullet-punktet mindre */
}

/* css til om mig */

@media (max-width: 700px) {
  .grid_2-2 {
    grid-template-columns: 1fr;
    margin: 1em;
  }

  #hej {
    padding-top: 6rem;
    padding-left: 0.5em;
  }

  h2 {
    padding-right: 1rem;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-size: 2rem;
    text-align: left;
  }

  section img {
    width: 320px;
  }
  #education {
    margin-right: 4em;
  }
}
