#pro {
  color: #c568a1;
  padding-top: 2rem;
  font-size: xx-large;
  text-align: start;
}

main img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding-left: 6rem;
  margin-bottom: 8rem;
}

.grid_2-2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 3rem;
}

.grid_1-1 img:hover,
.grid_2-2 img:hover {
  transform: translateY(-4px) scale(1.02);
}

.løb {
  padding: 3rem;
}

/* MOBIL */
@media (max-width: 700px) {
  main h1 {
    margin-top: -0.5em;
  }

  .grid_1-1,
  .grid_2-2 {
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }

  .grid_2-2 {
    margin-top: 1rem;
  }

  .løb {
    padding: 1rem;
  }

  main img {
    width: 100%;
    max-width: 100%;
  }
}
