#pro {
  color: #c568a1;
  padding-top: 2rem;
  font-size: xx-large;
  text-align: start;
}

main img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}

.grid_1 img:hover {
  transform: translateY(-4px) scale(1.02);
}

.løb,
.kage,
.UX,
.anima,
.studie {
  padding: 2rem;
}

/* MOBIL */
@media (max-width: 700px) {
  main h1 {
    margin-top: -0.5em;
  }

  .grid_1 {
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }

  .løb {
    padding: 1rem;
  }

  main img {
    width: 100%;
    max-width: 450px;
  }
}
